
body {
  text-align: center;
}
.products {
  display: flex;
  flex-wrap: wrap;
}

.link {
  text-align: center;
  width: 300px;
  box-shadow: 0 0 10px #463636;
  margin: 10px;
}
.link:hover {
  background-color: lightblue;
}